@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin button-style($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  @mixin input-style {
    width: 100%;
    padding: 10px 10px;
    margin: 10px 0;
    border: 1px solid $cinza-medio;
    border-radius: 5px;
  }
  