// Mixins para reaproveitar código
@mixin flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  @mixin button-style($bg-color, $text-color) {
    background-color: $bg-color;
    color: $text-color;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    cursor: pointer;
  }
  