@import 'variables';
@import 'mixins';

body {
  background-color: $verde;
  font-family: Arial, sans-serif;
}

header {
  display: flex;
  justify-content: space-between;
  padding: 20px;
  background-color: $cinza-claro;
  color: $cinza-escuro;

  h1 {
    margin: 0;
  }

  .buttons {
    a {
      @include button-style($roxo, #fff);
      margin-left: 10px;
    }
  }
}

main {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 80px);

  .form-container, .table-container {
    background-color: $cinza-claro;
    padding: 20px;
    border-radius: 5px;
    width: 300px;
  }

  .form-container {
    text-align: center;

    h2 {
      color: $cinza-escuro;
    }

    input {
      width: 90%; // Inputs mais curtos
      margin-bottom: 10px; // Espaço entre os inputs
    }

    button {
      @include button-style($cinza-medio, #fff);
    }

    p {
      margin-top: 10px;
      &.sucesso {
        color: #fff; // Letra branca
        background-color: $sucesso; // Fundo verde de sucesso
        padding: 10px;
        border-radius: 5px;
      }
      &.erro {
        color: #fff; // Letra branca
        background-color: $erro; // Fundo vermelho para erro
        padding: 10px;
        border-radius: 5px;
      }
    }
  }

  // Estilos para a página de lista de livros
  .table-container {
    width: 80%; // Aumenta a largura da tabela
    max-height: 400px;
    overflow-y: scroll;

    // Configuração para o título e a busca
    .search-container {
      display: flex;
      justify-content: space-between; // Alinha o título à esquerda e o campo de busca à direita
      align-items: center; // Centraliza verticalmente
      margin-bottom: 20px;
      background-color: $cinza-claro;
      padding: 10px;
      border-radius: 5px;

      h2 {
        margin: 0; // Remove margens extras
        white-space: nowrap; // Garante que o texto não quebre linha
        color: $cinza-escuro;
      }

      input {
        width: 10%; 
        min-width: 80px; 
        margin-left: auto; 
        border-radius: 15px;
        
      }
    }

    table {
      width: 100%;
      border-collapse: collapse;

      tr {
        background-color: $cinza-medio;
        color: $cinza-escuro;
      }

      td {
        padding: 10px;
        border: 1px solid $cinza-escuro;
      }
    }

    #loading {
      text-align: center;
      font-size: 20px;
      display: none; // Inicialmente escondido
      color: $cinza-escuro; // Cor do texto de loading
      font-weight: bold;
    } 
  }
}
